{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container w-25 mt-5">
    <div class="card text-center">
        <div class="card-header">
            Profile
        </div>
        <div class="card-body">
            <img class="" src="{% static 'avatar.jpg' %}">
            <h5 class="card-title">{{ friend.username }}</h5>
            <div class="row text-center">
                <div class="col-md-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    {{ friends.count }}
                </div>
                <div class="col-md-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                    </svg>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}